
.comprar_text{
    margin-bottom: 30px;
}


.comprar_text p {
    text-align: justify;
    text-indent: 20px;
}

.comprar_text h3 {
    padding: 20px;
}

@media only screen and (max-width: 768px){
    .comprar_text p {
        margin: 20px;
    }
}